.loader {
  margin: auto;
  border: 16px solid gray;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top-color: #1abc9c;
  border-bottom-color: #3498db;
  animation-name: rotateLoader;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}


@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.question-statement {
  background: linear-gradient(to right, gold, darkorange);
  height: 150px;
  color: #fff;
  border-radius: 40%;
  text-align: center;
}

.favorite {
  float: right;
  width: 300px;
}
